.conditions{


  width: 100%;
  position: relative;
  height: 649px;
  display: flex;
  justify-content: center;

  .container{
    max-width: 1280px;
    margin: 0 auto;



    .content{


      .steps{
      display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 0 32px;


      }
    }
  }
}
@media (max-width: 99999px){
  .text{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: white;
  }
  .number{
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 120%;
    color: white;
  }
  .conditions {
    .content{
      margin-top: 100px;
    }



    .background2 {
      width: 100%;
      height: 649px;
      position: absolute;
      z-index: -2;
    }

    width: 100%;
    position: relative;
    height: 649px;
    display: flex;
    justify-content: center;
  }
    .title{

    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 120%;
    text-align: center;
    margin: 0 auto 75px auto;
    width: 598px;
  }
}
@media (max-width: 900px) {
  .text{
    font-size: 20px;
  }
  .number{
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 120%;
    color: white;

  }
  .conditions {
    .content{
      margin-top: 60px;
    }

    .background2 {
      height: 368px;
      position: absolute;
      z-index: -2;
    }

    width: 100%;
    position: relative;
    height: 368px;
    display: flex;
    justify-content: center;
  }
  .title {

    font-size: 24px;
    line-height: 120%;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 270px;
  }
}