.partners{
 width: 100%;
  .container{
    margin: 0 auto;
    max-width: 1280px;
    .content{



    }
  }
}
@media (max-width: 999999px){
  .title{
    color: var(--description);
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 120%;
    text-align: center;
    padding-top: 120px;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(224px,auto)  minmax(224px,auto);
    padding: 80px 32px 80px 32px;
    align-items: center;
    justify-items: center;
    gap: 20px;
    div{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .faded{
      box-shadow: 15px 15px 50px rgba(14, 14, 82, 0.25);
    }
  }
}
@media(max-width: 850px){
  .title{
    font-size: 25px;
    padding-top: 75px;
  }
  .grid{
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: minmax(150px,auto)  minmax(150px,auto);
    div{
      max-width: 229px;
      max-height: 150px;
    }
  }
  .partners img{
  max-width: 160px;
    max-height: 80px;

}
}