.container {
  max-width: 768px;
  margin: 0 auto;
  .content{
    padding: 22px;
    .grid{
      display: grid;
      grid-template-columns: 1fr 1fr;

      .img{
      height: 212px;
        width: 344px;
        display: flex;
        align-items: flex-end;
        background: linear-gradient(90deg, #C038F5 0%, #3496FE 100%);
        justify-content: flex-end;
        img {
          width: 328px;
          height: 196px;
        }
      }
      .flex{
        padding: 20px;
        .title{
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 120%;
          color: var(--brand-color);
          margin-bottom: 10px;
        }
        .description{
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 140%;
          color: var(--description);
        }
      }
    }
  }
}