.container {
  width: 318px;
  height: 398px;
  background: linear-gradient(90deg, #C038F5 0%, #3496FE 100%);
  margin:  0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .content{

    margin: 10px;
    width: 100%;
    height: 95%;
    background: white;
    .img{
    width: 100%;
      height: 50%;

      img{
        width: 100%;
      }
    }
    .info{
      padding: 8px;
      .title{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: var(--brand-color);
        margin-bottom: 10px;
      }
      .description{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 130%;
        margin-bottom: 15px;
      }
      .second_description{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 130%;
        margin-bottom: 15px;
      }
    }
  }
}