.cleaning{
  width: 100%;
  position: relative;
  .img1{
  position: absolute;
    bottom: 0;
    z-index: -10;
  }
  .img2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
  }
  .container{

    max-width: 360px;
    margin: 0 auto;
    .content{
      padding: 80px 16px;
      font-style: normal;
      font-weight: bold;
      line-height: 120%;
      color: var(--description);
      .title{
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
      }
      .subtitle{
        font-size: 18px;
        text-align: center;
        margin-bottom: 40px;
      }
      .grid{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 130%;
        .item{
          border: 1px solid #E3E1FB;
          box-sizing: border-box;
          display: flex;
          background: white;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 20px;
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 40px;
          }
          img{
            width: 62px;
            height: 62px;
            margin-right: 15px;
          }
        }
      }
      .button{
        display: flex;
        justify-content: center;
        align-items: center;
        button{
          background: #4CF5E0;
          box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
          border-radius: 2px;
          padding: 15px;
          outline: none;
          border: 0;
          width: 258px;
          height: 55px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 130%;
          color: var(--description);

        }
      }
    }
  }
}