.sale{
  .sale_svg{
    width: 100%;
    height: 546px;
    z-index: -2;
    position: absolute;
  }
  width: 100%;
  height: 546px;
  background-position: center;

  .container{
    height: 546px;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    .content{
      height: 100%;
      display: flex;
      flex-direction: row;
.timer{
  color: white;
  position: absolute;
  bottom: 100px;
  right: 20px;
  text-align: center;
  .sale_title{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
  }

  .time{
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 120%;
    color: #4CF5E0;
  }
}
      .offer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        height: 120px;
        width: 202px;
        padding-top: 120px;
        padding-left: 20px;
        .title{
          font-style: normal;
          font-weight: bold;
          font-size: 25px;
          line-height: 120%;
        }
        .promo{
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 140%;
        }

      }
      .percents{
        color: white;
        right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 30%;
        font-style: normal;
        font-weight: bold;
        font-size: 141px;
        line-height: 100%;
      }
    }

  }
}
