.conditions{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 600px;
  .background2{
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -2;

  }
  .container{

    .content{

      .title{
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 120%;
        text-align: center;
        margin: 75px auto 50px auto;
        max-width: 320px;
      }
      .steps{
        display: flex;
        flex-direction: row;
        .common_flex_1{

          height: 230px;
          display: flex;flex-direction: column;
          .flex{
            max-width: 156px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .number{
              font-style: normal;
              font-weight: 500;
              font-size: 72px;
              line-height: 120%;
              color: white;
            }
            .text{
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 120%;
              text-align: center;
              color: white;
            }
          }
        }
        .common_flex2{
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 330px;
          .flex{
            flex-direction: column;
            max-width: 156px;
            display: flex;
            justify-content: center;
            align-items: center;
            .number{
              font-style: normal;
              font-weight: 500;
              font-size: 72px;
              line-height: 120%;
              color: white;
            }
            .text{
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 120%;
              text-align: center;
              color: white;
            }
          }
        }
      }

    }
  }

}