

.img{
  width: 100%;
  height: 684px;
  z-index: 1;
  position: absolute;
}
.feedback{
  height: 684px;
  width: 100%;
  background-size: 100%;
background:  #F2F3FE;


  &_container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 0;
    position: relative;
  }
  &_content{
    z-index: 10;
.feedback_flex{
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 120%;
  color: white;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  .title{
  margin-bottom: 15px;
  }
  .description{
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 20px;
  }



}

  }
}
@media (max-width: 99999px){
  .number{
    margin-bottom: 45px;
  }
  .request{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:600px;
    input{
      width: 260px;
      height: 42px;
      border-radius: 2px;
      border: 0;
      outline: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      color: #0E0E52;
      margin-right: 16px;
    }
    button{
      border: 0;
      width: 264px;
      height: 44px;
      background: #4CF5E0;
      box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
      border-radius: 2px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      color: #0E0E52;

    }
  }
}

@media (max-width: 800px) {
  .img{
    height: 442px;
  }
  .feedback{
    height: 442px;
  }
  .feedback_container{
    padding: 75px 0;
  }
  .title{
    font-size: 25px;
  }
  .description{
    font-size: 15px;
  }
  .number{
    font-size: 25px;
    margin-bottom: 0;
  }
  .request{
    font-size: 18px;
  }

  .contacts{

    button{
      width: 224px;
      margin-right: 16px;
    }
    input{
      width:  220px;
    }
  }
}

@media (max-width: 600px){
  .feedback_container{
    padding: 90px 0;
  }
  .contacts{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img{
    height: 600px;
  }
  .feedback{
    height: 600px;
  }



  .description{
    font-size: 18px;
    width: 320px;
    text-align: center;
  }

  .request{
    font-size: 20px;
  }
  .contacts{
    button{
      margin-bottom: 16px;
      margin-right: 0;
    }

    input{
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}



