
@media (max-width: 999999px){
  .cleaning{
    width: 100%;

    height: 770px;

    .container{
      position: relative;
      max-width: 1280px;
      margin: 0 auto;
      .content{
        text-align: center;
        color: var(--description);
        height: 770px;



      }
    }
  }
  .background{
    position: absolute;
    bottom: 0;
    max-width: 1284px;
    right: -400px;
    height: 1284px;
    z-index: -10;
  }
  .title{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 120%;
    max-width: 800px;
    padding: 100px 0 30px 0;
    margin: 0 auto;
  }
  .subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 50px;
  }
  .button{
    margin-bottom: 120px;
    button{
      background: #8B4CF5;
      box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
      border-radius: 2px;
      padding: 10px;
      outline: none;
      border: 0;
      width: 347px;
      height: 56px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: white;
    }
  }
  .grid{
    .item{
      border: 1px solid #E3E1FB;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      background: white;
      div{
        width:215px ;
      }
      img{
        margin-bottom: 10px;
      }
    }

    display: grid;
    padding: 0 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(236px,auto);
    grid-gap: 20px;
    margin-bottom:40px ;
  }
}
@media (max-width: 960px){
  .cleaning{
    width: 100%;

    height: 620px;

    .container{
      position: relative;
      max-width: 1280px;
      margin: 0 auto;
      .content{
        text-align: center;
        color: var(--description);
        height: 620px;



      }
    }
  }
  .background{
    position: absolute;
    bottom: -120px;
    max-width: 756px;
    right: 0;
    height: 756px;
    z-index: -10;
  }
  .title{
    font-size: 25px;
  }
  .subtitle{
    font-size: 18px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
      width: 474px;
    }
  }
  .grid{
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: minmax(106px,106px) minmax(106px,106px);
    .item{
      flex-direction: row;
      font-size: 15px;
      text-align: left;
      img{
        max-width: 62px;
        max-height: 62px;
        margin-bottom: 0;
        margin-right: 15px;
      }
    }
  }
  .button{
    button{
      background: #4CF5E0;
      box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
      color: var(--description);
    }
  }
}