
.container{
  background: white;
  width: 280px;
  height: 428px;
  position: relative;
  margin-right: 15px;

  .content{
    display: flex;
    flex-direction: column;
    padding: 15px;

    .img{
      height: 168px;
      width: 100%;
      margin-bottom: 30px;
    }
    .title{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      text-align: left;
      height: 46px;
      margin-bottom: 15px;
    }
    .subTitle{
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 120%;
      display: flex;
      flex-direction: row;
      align-items: center;
      div:first-child{
        margin-right: 3px;
        color: #575786;
      }

    }
    .flex{
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 15px;
      align-items: center;
      margin-right: 15px;

      .select{
        width:110px;
        height: 40px;
        background: #3496FE;
      }
      .price{
        width: 80px;
        text-align: right;
      }
      .busket{
        width:50px;
        height: 40px;
        background: var(--brand-color);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
      }
    }
  }
}