
.footer{

  background: rgba(38, 38, 38, 1);

    .img_flex{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5px;
      img{
        margin-left: 32px;
      }
    }

  &_container {
    .item16{
      text-align: right;
      padding-right: 32px;
      color: #CFCFDC;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 120%;
      padding-bottom: 70px;
    }
    .content {
      margin-bottom: 15px;
      padding: 60px 32px 0 32px;
      .flex1{
        display: flex;
        flex-direction: column;
        width: (412/1280)*100%;
        .item1{
          height: 45px;
        }
        .item2{
          margin-bottom: 20px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
        }
        .item3{
        font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 120%;
        margin-bottom: 10px;
        }
        .item4{
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 120%;
        }
      }

      .flex2{
        display: flex;
        flex-direction: column;
        width: (309/1280)*100%;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        justify-content: space-between;

      }
      .flex3{
        display: flex;
        flex-direction: column;
        width: (311/1280)*100%;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        justify-content: space-between;
      }
      .flex4{
        display: flex;
        flex-direction: column;
        width: (248/1280)*100%;
        align-items: flex-end;
        justify-content: space-between;
        .item13{
display: flex;
          justify-content: space-between;
          width: 75%;
        }
        .item14{
          width: 150px;height: 50px;
          background: white;
          color: var(--description);
          text-align: center;

        }
        .item15{
          text-align: right;
          color:#CFCFDC;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 120%;
          width: 170px;
        }
      }
      color: white;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      display: flex;
      flex-direction: row;
    }

    width: 1280px;
    margin: 0 auto;
  }

}
