
.footer{

  background: rgba(38, 38, 38, 1);



  &_container {
    .item16{
      text-align: right;

      color: #CFCFDC;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 120%;

    }
    .content2{
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
      padding: 30px 24px 60px 24px;
      color: white;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      .box3{

        display: flex;
        justify-content: space-between;
        flex-direction: column;



        .item15{
          text-align: right;
          color:#CFCFDC;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 120%;
          width: 170px;
        }

      }
      .flex2 {
        display: flex;
        flex-direction: column;
        width: 33.2%;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        justify-content: space-between;
        margin-right: 48px;
        height: 165px;
      }
      .flex3{
        display: flex;
        flex-direction: column;
        width: 40.3%;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        justify-content: space-between;
      }

    }
    .content {
      padding: 60px 32px 0 32px;
      color: white;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
    }
    width: 100%;
    margin: 0 auto;
  }

}
@media (max-width: 99999px){
  .flex1{
    display: flex;
    flex-direction: column;
    width: (412/1280)*100%;
    .item1{
      height: 45px;
    }
    .item2{
      margin-bottom: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
    }
    .item3{
      font-style: normal;
      font-weight: normal;
      font-size: 23px;
      line-height: 120%;
      text-align: right;
    }
    .item4{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 120%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .telegram{
    display: flex;
        align-items: center;
        img{
          margin-right: 2px;
        }
      }
      .whatsapp{
        img{
          margin-right: 2px;
        }
        display: flex;
        align-items: center;
      }
    }
  }
}
@media (max-width: 1250px) {
  .footer{
    .item13{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &_container{
      width: 100%;
    }
  }
  .border{
    height: 0.5px;
    background: linear-gradient(90deg, #C038F5 0%, #3496FE 100%);
    width: 100%;

  }
  .flex1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

  }
  .first{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .item2{
    margin: 0;

  }
  .item4{
    margin-bottom: 25px;
  }
  .second{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}