.sale{
  .sale_svg{
    width: 100%;
    height: 698px;
    z-index: -2;
    position: absolute;
  }
  width: 100%;
  height: 700px;
  background-position: center;

  .container{
    width: 1280px;
    margin: 0 auto;
    position: relative;
    .content{
display: flex;
      flex-direction: row;

      .offer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        height: 600px;
        width: 392px;
        padding: 0 135px;
      .title{
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 120%;
        margin-bottom: 30px;
      }
        .promo{
          width: 100%;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 120%;
          margin-bottom: 40px;
        }
        .sale_title{
          width: 100%;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 140%;
          margin-bottom: 10px;
        }
        .time{
          width: 100%;
      color: #B93DF6;
          font-style: normal;
          font-weight: bold;
          font-size: 45px;
          line-height: 120%;
        }
      }
      .percents{
        color: white;
        left: -100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: -85px;
        font-style: normal;
        font-weight: bold;
        font-size: 300px;
        line-height: 100%;
      }
    }

  }
}